[2016-10-21 09:01] matsuo-y opened #1 "2016.10.x conflict breakfast/lunch"
今日の朝ごはん・昼ごはんを以下のサイトで公開できる
- 朝ごはん
  ステージング環境： https://staging-git-practice-breakfast.herokuapp.com/breakfast/201610.html
  本番環境：　https://matsuo-y.github.io/git-practice-breakfast/breakfast/201610.html
- 昼ごはん
  ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201610.html
  本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201610.html

朝ごはん、昼ごはんでのそれぞれの担当者は以下のとおり
# 朝食(matsuo-y/

[2016-10-24 01:27] matsuo-y opened #2 "2016.10.24 conflict breakfast/lunch"
今日の朝ごはん・昼ごはんを以下のサイトで公開できる

- 朝ごはん
ステージング環境： https://staging-git-practice-breakfast.herokuapp.com/breakfast/201610.html
本番環境：　https://matsuo-y.github.io/git-practice-breakfast/breakfast/201610.html

- 昼ごはん
ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201610.html
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201610.html

朝ごはん、昼ごはんでのそれぞれの担当者は以下のとおり
# 朝食(matsuo-y/git-pr

[2016-10-24 04:07] gonomk opened #3 "2016.10.24 conflict lunch"
connect matsuo-y/git-practice#2

今日の昼ごはんを以下のサイトで公開できる

origin/#{N}-lunchから作業用(#{N}-lunch-{acount})ブランチをきり、origin/#{N}-lunchにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の朝食かがわかる文言にする

作業担当者は、下記の通りとする
- チケット作成者：郷野
- PR作成者(staging,masterへのマージプルリク含む)：土井
- PRレビュアー：譚

ステージング環境： https://staging-git-practice-breakfast.herokuapp.com/lunch/201610.html
本番環境：　https:

[2016-10-24 04:14] #3 closed

[2016-10-24 10:56] opst-fujimoto opened #5 "waffleにReview カラム（レーン）を追加する"
staging, masterブランチへのPRは、`In Progress` カラムではなく、別のカラムで、Issue/PRの状態を把握したいため、

https://waffle.io/matsuo-y/git-practice/settings/columns

の設定画面にて、In Progressの次に、`Review` カラムを追加する

例：
![image](https://cloud.githubusercontent.com/assets/15703253/19643177/eefa341e-9a23-11e6-9727-c61f9c1f7158.png)

[2016-10-24 11:04] opst-fujimoto opened #6 "2016.10.26-27 breakfast"
朝食は、10/26から27までの開発期間を想定した練習

今日の朝ごはんを以下のサイトで公開できる

ステージング環境： https://staging-git-practice-breakfast.herokuapp.com/breakfast/201610.html
本番環境：　https://matsuo-y.github.io/git-practice-breakfast/breakfast/201610.html

担当者は以下のとおり(作業内容はREADME.mdに記載)
# 朝食(matsuo-y/git-practice-breakfast#7)
- issue作成者：松尾
- branch作成者：譚
- PR担当者(朝食報告担当)：姜、土井
- リリース担当者：郷野

[2016-10-24 11:05] opst-fujimoto opened #7 "2016.10.26 lunch"
昼食は、10/26だけの開発期間を想定した練習

今日の昼ごはんを以下のサイトで公開できる

ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201610.html
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201610.html

担当者は以下のとおり(作業内容はREADME.mdに記載)
# 昼食
- issue作成者：譚
- branch作成者：松尾
- PR担当者(昼食報告担当)：中村
- リリース担当者：上田

[2016-10-25 01:16] matsuo-y commented on #5
設定を行いましたので、ご確認をお願いいたします。
https://waffle.io/matsuo-y/git-practice

![image](https://cloud.githubusercontent.com/assets/8816337/19669653/096f8740-9a9c-11e6-8598-2bcf956c3990.png)

![image](https://cloud.githubusercontent.com/assets/8816337/19669660/1277be20-9a9c-11e6-9f1a-71be94e5490c.png)

[2016-10-25 01:23] opst-fujimoto commented on #5
ok

[2016-10-25 01:23] #5 closed

[2016-10-26 01:07] matsuo-y commented on #2
朝ごはん、昼ごはんが追加されていることを確認したのでクローズします。

[2016-10-26 01:07] #2 closed

[2016-10-26 05:18] opsttan opened #8 "2016.10.26 lunch"
connect matsuo-y/git-practice#7

10/26の昼ごはんを以下のサイトで公開できる

origin/#{N}-lunchから作業用(#{N}-lunch-{acount})ブランチをきり、origin/#{N}-lunchにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の朝食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：譚
- branch作成者：松尾
- PR担当者(昼食報告担当)：中村
- リリース担当者：上田

ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201610.html
本番環境：　https://ma

[2016-10-26 05:20] #8 closed

[2016-10-26 08:18] opst-fujimoto opened #10 "README.mdにブランチの前提条件を記載する"
## ブランチの種類

- master branch
- staging branch
- issue branch
- issue child branch

## ブランチの初期設定

- master branch
 - github.com リポジトリの設定で、誰かが誤って削除しないように、force pushしないように、プロテクトする
 - github.com リポジトリの設定で、誰かが直接コミットしないように、PRを通して、マージするように設定する

- staging branch
 - github.com リポジトリの設定で、誰かが誤って削除しないように、force pushしないように、プロテクトする
 - github.com リポジトリの設定で、誰かが直接コミットしないように、PRを通して、マージするように設定する

## ブランチのマージルール
- mast

[2016-10-27 08:29] matsuo-y commented on #6
masterへリリースしたためクローズします。

[2016-10-27 08:29] #6 closed

[2016-10-28 06:25] opst-fujimoto opened #11 "issue test"
子供のリポジトリへのりんくは書かない

[2016-10-28 06:34] matsuo-y commented on #7
masterへのマージが終わったためクローズします。

[2016-10-28 06:34] #7 closed

[2016-10-28 06:47] #11 closed

[2016-10-28 08:54] #10 closed

[2016-10-31 03:13] matsuo-y opened #12 "2016.10.31-2016.11.01 breakfast"
朝食は、10/31から11/1までの開発期間を想定した練習

今日の朝ごはんを以下のサイトで公開できる

ステージング環境： https://staging-git-practice-breakfast.herokuapp.com/
本番環境：　https://matsuo-y.github.io/git-practice-breakfast/

担当者は以下のとおり(作業内容はREADME.mdに記載)
- issue作成者：土井
- branch作成者：郷野
- 開発担当者(朝食報告、2名)：中村、譚
※月をまたぐため、11/1分はbreakfast/201611.htmlとして新しくファイルを作成する
- 検収担当者：松尾
- リリース担当者：姜

[2016-10-31 04:10] matsuo-y opened #13 "2016.10.31 lunch"
昼食は、10/31だけの開発期間を想定した練習

今日の昼ごはんを以下のサイトで公開できる

ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201610.html
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201610.html

担当者は以下のとおり(作業内容はREADME.mdに記載)
- issue作成者：郷野
- branch作成者：松尾
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：上田
- リリース担当者：土井

[2016-11-02 03:05] matsuo-y opened #14 "2016.11.4 lunch"
昼食は、11/4だけの開発期間を想定した練習
※11/4(金)の分のissueです！

今日の昼ごはんを以下のサイトで公開できる

ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201611.html
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201611.html

担当者は以下のとおり(作業内容はREADME.mdに記載)
- issue作成者：根本
- branch作成者：姜
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：上田
- リリース担当者：根本

[2016-11-02 03:10] matsuo-y opened #15 "2016.11.2 lunch"
昼食は、11/2だけの開発期間を想定した練習

今日の昼ごはんを以下のサイトで公開できる

※11月初日のため、201611.htmlのファイルを新しく作成する

ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201611.html
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201611.html

担当者は以下のとおり(作業内容はREADME.mdに記載)
- issue作成者：姜
- branch作成者：松尾
- 開発担当者(昼食報告、1名)：根本
- 検収担当者：土井
- リリース担当者：郷野

[2016-11-02 03:20] matsuo-y opened #16 "2016.11.7-2016.11.8 breakfast"
11/7,11/8の朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-breakfastリポジトリで行う
※matsuo-y/git-practice-breakfastリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-breakfastで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の朝食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：上田
- branch作成者：譚
- 開発担当者(朝食報告、2名)：譚、姜
- 検収担当者：土井
- リリース担

[2016-11-02 07:44] jiangheqing opened #17 "2016.11.2 lunch"
connect matsuo-y/git-practice#15

11/2 の昼食を以下のサイトで公開できる

origin/#{N}-breakfastから作業用(#{N}-breakfast-{acount}-{yyyyMMdd})ブランチをきり、origin/#{N}-breakfastにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の朝食かがわかる文言にする

作業担当者は、下記の通りとする
issue作成者：姜
branch作成者：松尾
開発担当者(昼食報告、1名)：根本
検収担当者：土井
リリース担当者：郷野

ステージング環境： https://staging-git-practice-breakfast.herokuapp.com/breakf

[2016-11-02 08:01] #17 closed

[2016-11-02 09:52] matsuo-y commented on #13
masterまでマージ完了しているためクローズします。

[2016-11-02 09:52] #13 closed

[2016-11-02 09:53] matsuo-y commented on #1
使用しないためクローズ

[2016-11-02 09:53] #1 closed

[2016-11-02 09:54] matsuo-y commented on #12
@opst-D-Take
git-practice-breakfast側のissueをクローズしたら、こちらもクローズをお願いします。

[2016-11-02 10:11] opst-D-Take commented on #12
リリース完了しましたので、クローズいたします。

[2016-11-02 10:11] #12 closed

[2016-11-04 03:13] opst-fujimoto commented on #15
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201611.html

に11/2分を確認したのでclose

![image](https://cloud.githubusercontent.com/assets/15703253/19993327/1898eff6-a288-11e6-8207-2f30fbe55a3c.png)

[2016-11-04 03:13] #15 closed

[2016-11-07 01:06] matsuo-y commented on #14
masterまで反映が終わっているようなのでクローズします。

[2016-11-07 01:06] #14 closed

[2016-11-07 01:22] matsuo-y opened #19 "2016.11.x conflict lunch"
11/7の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：○○
- branch作成者：○○
- 開発担当者(昼食報告、1名)：○○
- 検収担当者：○○
- リリース担当者：○○

ステージング環境：

[2016-11-07 01:56] opst-D-Take opened #20 "2016.11.7 conflict lunch"
11/7の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：土井
- branch作成者：姜
- 開発担当者(昼食報告、1名)：上田
- 検収担当者：譚
- リリース担当者：中村

ステージング環境： ht

[2016-11-07 02:52] jiangheqing commented on #16
@opst-D-Take

2016.11.07 の朝食を追加しました。レビューをお願い致します。

[2016-11-07 02:53] jiangheqing commented on #16
https://github.com/matsuo-y/git-practice-breakfast/pull/22

[2016-11-07 06:59] jiangheqing commented on #20
@opst-ueda

連絡が遅くなりました。　本日の昼ごはんのブランチを作成いたしました。

[2016-11-07 08:13] opsttan commented on #20
@opst-D-Take
stagingへのPRをマージしました。
masterへマージのPRの作成をお願いいたします。

[2016-11-07 08:57] opst-D-Take commented on #20
@opstnakamura masterへのPRを作成しましたので、ご確認頂いた後、マージをお願いいたします。

[2016-11-07 11:12] ghost commented on #20
- [x] masterへのreleases/tags設定

https://github.com/matsuo-y/git-practice-lunch/releases

が必要ですね。リリース担当者は。

[2016-11-07 11:21] opstnakamura commented on #20
タグをつけました。

[2016-11-08 01:13] opst-D-Take commented on #20
作業完了しましたのでクローズします。

[2016-11-08 01:13] #20 closed

[2016-11-08 02:51] opstnakamura opened #21 "README.mdのリポジトリの説明について"
以下の説明について、主語が不明確なため、PR作成者がリリース担当者に読めます。
修正お願いします。

主語を省略しないか、一旦主語ありで文章を考えてから、冗長であれば省略するようにすると文章を考えやすいです。
また、一文で一つのことだけを言うようにするといいと思います。

例：
リリース担当者は、staging branchからmaster branchへのPRを受けて、PRのレビューをする。
PRのレビューは、staging branchをデプロイした結果を確認して行う。
リリース担当者は、確認の結果問題が無ければ、PRをマージする。

[2016-11-08 02:54] opstnakamura commented on #21
あわせて他の箇所にも横展開していただければと思います。

[2016-11-08 05:18] opst-nemoto opened #22 "2016.11.8 lunch"
11/8の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：根本
- branch作成者：中村
- 開発担当者(昼食報告、1名)：土井
- 検収担当者：姜
- リリース担当者：上田

ステージング環境： h

[2016-11-08 08:52] opst-ueda commented on #22
あ、tagを切るのはリリース担当じゃなくて、issue発行者なんですね…間違えた…

@nemoto
tag切っちゃいました…issueのクローズだけお願いします。

[2016-11-08 08:55] opst-nemoto commented on #22
releases/tagsの設定まで完了したのでクローズします。

[2016-11-08 09:16] ghost commented on #22
release/tag を付与したことおよびそのURLを記載してから、issueを close しましょ

[2016-11-08 09:21] opst-nemoto commented on #22
release/tagのURLは以下となります。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v1.4

[2016-11-08 09:21] #22 closed, assigned to opst-nemoto

[2016-11-09 01:24] matsuo-y opened #23 "issue操作テスト用"
テスト用のissueです

[2016-11-09 01:39] matsuo-y opened #24 "2016.11.9 土井さんの昼食"
11/9の土井さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-{作業者名}で作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

branch作成からリリース作業(releases/tags設定)までは全て開発担当者が行う
PRのレビューはレビュー担当者にアサインする
- 開発担当者：土井

[2016-11-09 01:40] matsuo-y opened #25 "2016.11.9 姜さんの昼食"
11/9の姜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-{作業者名}で作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

branch作成からリリース作業(releases/tags設定)までは全て開発担当者が行う
PRのレビューはレビュー担当者にアサインする
- 開発担当者：姜
-

[2016-11-09 01:41] matsuo-y opened #26 "2016.11.9 根本さんの昼食"
11/9の根本さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-{作業者名}で作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

branch作成からリリース作業(releases/tags設定)までは全て開発担当者が行う
PRのレビューはレビュー担当者にアサインする
- 開発担当者：根本

[2016-11-09 10:05] matsuo-y commented on #25
@jiangheqing
stagingへのマージが終了したため、リリースをお願いします。

[2016-11-09 10:08] matsuo-y commented on #24
@opst-D-Take
stagingへのマージが終了したため、リリース作業をお願いします。

[2016-11-09 10:23] matsuo-y commented on #24
@opst-D-Take
masterへのマージが終了したため、releases/tagsの設定をお願いします。

[2016-11-09 10:28] matsuo-y commented on #26
@opst-nemoto
設定したreleases/tagsの画面のURLをこちらに記載をお願いします。

[2016-11-09 10:30] opst-nemoto commented on #26
@matsuo.y releases/tagsの設定が完了しました。再度ご確認お願いします。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v1.6

[2016-11-09 10:31] matsuo-y commented on #26
確認できました、ありがとうございます。
releases/tagsの設定まで完了しましたので、クローズします。

[2016-11-09 10:31] #26 closed, assigned to opst-nemoto

[2016-11-09 10:33] opst-D-Take commented on #24
@matsuo-y releases/tagsの設定完了しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v1.7

[2016-11-09 10:35] matsuo-y commented on #24
確認できました、ありがとうございます。
releases/tagsの設定まで完了したので、クローズします。

[2016-11-09 10:35] #24 closed, assigned to opst-D-Take

[2016-11-09 10:36] matsuo-y commented on #25
土井さんのmasterへのマージで同時にマージされているため、クローズします。

[2016-11-09 10:36] #25 closed, assigned to jiangheqing

[2016-12-06 08:09] opsttan opened #27 "2016.12.06 create file"
12月分の昼食報告用ファイル作成
lunch/201612.html

origin/stagingからブランチ作成して、origin/#{N}-create-lunch-fileで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、どんな修正かがわかる文言にする
PRのタイトルは、どんな修正かがわかる文言にする

ステージング環境： https://staging-git-practice-lunch.herokuapp.com/lunch/201612.html
本番環境：　https://matsuo-y.github.io/git-practice-lunch/lunch/201612.html

ただし、PR時ににはPR番号{N}の環境でサイトをブラウザで確認する
PR環境：　https://git-practice-lunch-pr-{N}.he

[2016-12-07 08:53] #16 closed

[2017-01-30 07:01] gonomk opened #28 "2017.01.30 lunch"
1/30の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：郷野
- branch作成者：姜
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：橋本
- リリース担当者：橋本

ステージング環境： ht

[2017-01-30 12:22] opst-hashimoto commented on #28
完了しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v1.8

[2017-01-30 12:22] #28 closed, assigned to gonomk

[2017-01-31 01:57] opst-nemoto opened #29 "2017.01.31 橋本さんlunch"
1/31の橋本さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：根本
- branch作成者：橋本
- 開発担当者(昼食報告、1名)：橋本
- 検収担当者：姜
- リリース担当者：姜

ステージング環

[2017-01-31 02:00] opst-nemoto opened #30 "2017.01.31 姜さんlunch"
1/31の姜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：根本
- branch作成者：姜
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：橋本
- リリース担当者：橋本

ステージング環境

[2017-01-31 10:33] jiangheqing commented on #29
release完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v1.9

[2017-01-31 10:33] #29 closed, assigned to opst-hashimoto

[2017-01-31 10:34] jiangheqing commented on #30
release完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v1.9

[2017-01-31 10:34] #30 closed, assigned to jiangheqing

[2017-02-01 02:23] opsttan opened #31 "2017.02.01 橋本さんlunch"
2/1の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：譚
- branch作成者：橋本
- 開発担当者(昼食報告、1名)：橋本
- 検収担当者：姜
- リリース担当者：姜

ステージング環境： http

[2017-02-01 02:24] opsttan opened #32 "2017.02.01 姜さんlunch"
2/1の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：譚
- branch作成者：姜
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：橋本
- リリース担当者：橋本

ステージング環境： http

[2017-02-01 10:52] opst-hashimoto commented on #31
release完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.0

[2017-02-01 10:52] #31 closed, assigned to opst-hashimoto

[2017-02-01 10:53] opst-hashimoto commented on #32
release完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.0

[2017-02-01 10:53] #32 closed, assigned to jiangheqing

[2017-02-02 05:33] opst-D-Take opened #33 "2017.02.02 姜さんlunch"
2/2の姜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：土井
- branch作成者：姜
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：橋本
- リリース担当者：橋本

ステージング環境：

[2017-02-02 05:34] opst-D-Take opened #34 "2017.02.02 橋本さんlunch"
2/2の橋本さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：土井
- branch作成者：橋本
- 開発担当者(昼食報告、1名)：橋本
- 検収担当者：姜
- リリース担当者：姜

ステージング環境

[2017-02-02 09:20] jiangheqing commented on #34
本ISSUEのリリースを完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.1

[2017-02-02 09:20] #34 closed, assigned to opst-hashimoto

[2017-02-02 09:31] opst-hashimoto commented on #33
本ISSUEのリリースを完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.2

[2017-02-02 09:34] ghost commented on #33
リリース後に、本番環境を確認したエビデンスがいるな

[2017-02-02 09:42] matsuo-y opened #35 "2017.02.03 橋本さんlunch"
2/3の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：松尾
- branch作成者：橋本
- 開発担当者(昼食報告、1名)：橋本
- 検収担当者：姜
- リリース担当者：姜

ステージング環境： htt

[2017-02-02 09:43] matsuo-y opened #36 "2017.02.03 姜さんlunch"
2/3の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

作業担当者は、下記の通りとする
- issue作成者：松尾
- branch作成者：姜
- 開発担当者(昼食報告、1名)：姜
- 検収担当者：橋本
- リリース担当者：橋本

ステージング環境： htt

[2017-02-03 08:49] opst-hashimoto commented on #35
本ISSUEのリリースを完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.3

[2017-02-03 08:52] opst-hashimoto commented on #36
本ISSUEのリリースを完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.3

[2017-02-03 08:52] #36 closed, assigned to jiangheqing

[2017-02-03 08:54] opsttan commented on #35
リリースしましたので、クローズ
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.3

![image](https://cloud.githubusercontent.com/assets/19678705/22585153/b7a19280-ea39-11e6-9275-6589b2d98353.png)

[2017-02-03 08:54] #35 closed, assigned to opst-hashimoto

[2017-02-03 08:59] ghost commented on #35
http://imgur.com/vFND7hO.gif

[2017-02-06 03:38] ghost opened #37 "2017.02.06 橋本さんlunch"
## 作業内容
2/6の橋本さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/

[2017-02-06 05:51] opst-hashimoto commented on #37
本ISSUEのリリースを完了いたしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.4

[2017-02-06 05:52] jiangheqing commented on #37
@opst-hashimoto

ありがとうございます。

[2017-02-06 06:46] ghost commented on #37
確認した結果はどこ？

[2017-02-06 07:07] jiangheqing commented on #37
@opst-fujimoto

⇒　確認した結果とは、下記のようなもので問題ないのでしょうか。

本日（2/6）のランチが下記URL（本番環境）にデプロイされたことを確認した。
https://matsuo-y.github.io/git-practice-lunch/lunch/201702.html

[2017-02-06 07:21] ghost commented on #37
https://lgtm.in/i/o0GVVzPcq

Data URLはだめだな。。。 slackで画像を流してくれない

[2017-02-06 07:23] ghost commented on #37
http://i.imgur.com/8xuL4Wm.gif

[2017-02-06 09:53] jiangheqing commented on #37
![default](https://cloud.githubusercontent.com/assets/22759025/22642281/7258b094-ec9d-11e6-97f6-b8f4422cc470.gif)

[2017-02-06 09:57] jiangheqing commented on #37
リリース完了いたしました。
![yes](https://cloud.githubusercontent.com/assets/22759025/22642406/e3f06698-ec9d-11e6-9045-8f88b5e2d139.gif)

[2017-02-06 09:57] #37 closed, assigned to opst-hashimoto

[2017-03-15 05:12] matsuo-y opened #38 "2017.03.15 大島さんlunch"
## 作業内容
3/15の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com

[2017-03-15 05:18] matsuo-y opened #39 "2017.03.16 大島さんlunch"
## 作業内容
3/16の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com

[2017-03-15 05:19] matsuo-y opened #40 "2017.03.17 大島さんlunch"
## 作業内容
3/17の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com

[2017-03-16 06:44] opst-oshima commented on #38
本番環境にデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26425322/23984911/6fe24a0c-0a5f-11e7-9596-8cd6201c8d7d.png)

[2017-03-16 06:45] opst-nemoto commented on #38
@opst-oshima 本番環境までデプロイされたことを確認しました。

[2017-03-16 06:45] #38 closed, assigned to nobody

[2017-03-16 10:09] opst-oshima commented on #39
本番環境にデプロイされました。

![image](https://cloud.githubusercontent.com/assets/26425322/23991260/ff586542-0a7b-11e7-9170-2c4dfa4144e2.png)

[2017-03-17 00:32] opst-nemoto commented on #39
@opst-oshima デプロイが確認出来ましたので、issueをクローズします。

[2017-03-17 00:32] #39 closed, assigned to nobody

[2017-03-17 04:55] matsuo-y opened #41 "2017.03.17 松尾lunch"
## 作業内容
3/17の松尾の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/

[2017-03-17 06:01] matsuo-y commented on #41
release/tagsの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.7

[2017-03-17 06:01] matsuo-y commented on #41
- デプロイ後の本番環境
修正内容が反映されていることを確認しました。
![image](https://cloud.githubusercontent.com/assets/8816337/24030873/9c6ccbce-0b22-11e7-9b3c-7c96e61613ac.png)

[2017-03-17 06:02] matsuo-y commented on #41
@opst-nemoto デプロイ結果を記載しましたのでご確認いただき、問題がなければissueのクローズをお願いいたします。

[2017-03-17 06:03] opst-nemoto commented on #41
@matsuo-y 本番環境へのデプロイが確認できたので、issueをクローズします。

[2017-03-17 06:03] #41 closed, assigned to opst-nemoto

[2017-03-17 06:18] opst-oshima commented on #40
本番環境にデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26425322/24031246/ea1cc278-0b24-11e7-8273-05a9e0fffe51.png)

[2017-03-17 06:24] opst-nemoto commented on #40
@opst-oshima 本番環境へのデプロイを確認しましたので、issueをクローズします。

[2017-03-17 06:24] #40 closed, assigned to nobody

[2017-03-21 02:11] #33 closed, assigned to nobody

[2017-03-21 02:21] opst-nemoto opened #42 "2017.03.21 大島さんlunch"
## 作業内容
3/21の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.

[2017-03-21 02:23] opst-nemoto opened #43 "2017.03.21 根本lunch"
## 作業内容
3/21の根本の昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.he

[2017-03-21 06:38] opst-nemoto commented on #43
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v2.9

[2017-03-21 06:39] opst-nemoto commented on #43
本番環境へのデプロイを確認しましたので、クローズいたします。
![image](https://cloud.githubusercontent.com/assets/23181262/24135343/8bba57f6-0e4c-11e7-8e61-4505703695ac.png)

[2017-03-21 06:39] #43 closed, assigned to opst-nemoto

[2017-03-21 07:00] opst-oshima commented on #42
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.0

[2017-03-21 07:01] opst-oshima commented on #42
本番環境にデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26425322/24136266/4f4fecb8-0e51-11e7-8175-a2be01ae3266.png)

[2017-03-21 07:14] opst-nemoto commented on #42
@opst-oshima 本番環境にデプロイされたことが確認できたのでクローズします。

[2017-03-21 07:14] #42 closed, assigned to nobody

[2017-03-22 01:11] opst-nemoto opened #44 "2017.3.22-2017.3.23 breakfast"
## 作業内容
3/22、3/23のの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-breakfastリポジトリで行う
※matsuo-y/git-practice-breakfastリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-breakfastで作業を行い、origin/stagingにPRしてマージする
また開発担当者はorigin/git-practice/#{N}-breakfastとは別のブランチを作成して作業を実施する
コミットメッセージは、`fix` を記載しないようにし、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、`fix` を記載しないようにし、誰の昼食かがわかる文言にする

[2017-03-23 09:35] opst-oshima commented on #44
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.2

[2017-03-23 09:36] opst-oshima commented on #44
本番環境にデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26425322/24241266/93b29372-0ff7-11e7-9645-b88f6e9a5762.png)

[2017-03-23 09:44] opst-nemoto commented on #44
本番環境にデプロイが確認できたので、クローズします。

[2017-03-23 09:44] #44 closed, assigned to opst-nemoto

[2017-04-03 02:57] opsttan opened #45 "2017.04.03 江嵜さんlunch"
## 作業内容
4/3の江嵜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-03 02:59] opsttan opened #46 "2017.04.03 津村さんlunch"
## 作業内容
4/3の津村さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-03 06:06] acn-tsumura commented on #46
@opsttan staging環境へのPR作成しました、確認をお願いします。
https://github.com/matsuo-y/git-practice-lunch/pull/74

[2017-04-03 06:08] opsttan commented on #46
@opst-tsumura
①アサイン変更されていません。
②ＰＲの番号は正しくありません。
③connectできていません

[2017-04-03 07:26] ghost commented on #45
@opsttan matsuo-y/git-practice-lunch#75 PR 出しました。確認お願いします。

[2017-04-03 08:10] opsttan commented on #45
@opst-ezaki stagingにマージしました。masterへマージするPRを作成してください。

[2017-04-03 08:18] acn-tsumura commented on #46
本番環境にデプロイされたことを確認しました。

![fireshot capture 5 - lunch history 2017 04_ - https___matsuo-y github io_git-prac](https://cloud.githubusercontent.com/assets/12555037/24600839/6f0cd7f6-1891-11e7-9f73-a72d234e1e3c.png)

[2017-04-03 08:20] opsttan commented on #46
確認しました。

[2017-04-03 08:20] #46 closed, assigned to opsttan

[2017-04-03 08:40] ghost commented on #45
リリースタグの設定をしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.2

[2017-04-03 08:43] ghost commented on #45
本番環境へデプロイされました。
![after](https://cloud.githubusercontent.com/assets/26862113/24601712/f8027234-1894-11e7-9399-f7face8a493e.png)

[2017-04-03 08:45] ghost commented on #45
@opsttan masterへのデプロイを行い、デプロイ結果を掲載しました。
ご確認お願いいたします。

[2017-04-03 08:45] opsttan commented on #45
確認しました。

[2017-04-03 08:45] #45 closed, assigned to opsttan

[2017-04-03 10:29] opsttan opened #47 "2017.4.4-2017.4.5 breakfast"
## 作業内容
4/4、4/5のの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-breakfastリポジトリで行う
※matsuo-y/git-practice-breakfastリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-breakfastで作業を行い、origin/stagingにPRしてマージする
また、開発担当者はorigin/git-practice/#{N}-{name}-breakfast-{mmdd}というブランチを作成して作業を実施する
コミットメッセージは、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の朝食かがわかる文言にする

## 開発時に使用する環境
環境 | U

[2017-04-03 10:33] opsttan opened #48 "2017.04.04 津村さんlunch"
## 作業内容
4/4の津村さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-03 10:34] opsttan opened #49 "2017.04.04 江嵜さんlunch"
## 作業内容
4/4の江嵜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-04 05:43] ghost commented on #49
リリースタグの設定をしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.3

[2017-04-04 05:43] ghost commented on #49
本番環境へデプロイされました。
![master](https://cloud.githubusercontent.com/assets/26862113/24642819/12d9ebe0-1945-11e7-921d-0e6e9b3f482e.png)

[2017-04-04 05:43] ghost commented on #49
@opst-tsumura  masterへのデプロイを行い、デプロイ結果を掲載しました。
ご確認お願いいたします。

[2017-04-04 05:45] acn-tsumura commented on #49
確認しました。問題ありません。
クローズします。

[2017-04-04 05:45] #49 closed, assigned to acn-tsumura

[2017-04-04 06:29] acn-tsumura commented on #48
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.4

[2017-04-04 06:30] acn-tsumura commented on #48
本番環境へデプロイされました。
![master](https://cloud.githubusercontent.com/assets/12555037/24643888/6dc6d6f2-194b-11e7-91ed-6b88dddbb640.png)

[2017-04-04 06:32] acn-tsumura commented on #48
@opst-ezaki master branch にデプロイし、結果を記載しました。
確認をよろしくお願いします。

[2017-04-04 06:34] ghost commented on #48
確認しました。
クローズします。

[2017-04-04 06:34] #48 closed, assigned to nobody

[2017-04-04 07:02] opst-nemoto opened #50 "2017.04.05 津村さんlunch"
## 作業内容
4/5の津村さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-04 07:04] opst-nemoto opened #51 "2017.04.05 江嵜さんlunch"
## 作業内容
4/5の江嵜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-04 07:05] opst-nemoto opened #52 "2017.04.05 大島さんlunch"
## 作業内容
4/5の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-05 01:59] gonomk opened #53 "2017.04.06 大島さんlunch"
## 作業内容
4/6の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-05 02:00] gonomk opened #54 "2017.04.06 江嵜さんlunch"
## 作業内容
4/6の江嵜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-05 02:01] opsttan opened #55 "2017.4.10-2017.4.11 breakfast"
## 作業内容
4/10、4/11のの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-breakfastリポジトリで行う
※matsuo-y/git-practice-breakfastリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-breakfastで作業を行い、origin/stagingにPRしてマージする
また、開発担当者はorigin/git-practice/#{N}-{name}-breakfast-{mmdd}というブランチを作成して作業を実施する
コミットメッセージは、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の朝食かがわかる文言にする

## 開発時に使用する環境
環境 |

[2017-04-05 02:02] gonomk opened #56 "2017.04.06 津村さんlunch"
## 作業内容
4/6の津村さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-05 02:33] acn-tsumura commented on #47
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-breakfast/releases

[2017-04-05 02:36] acn-tsumura commented on #47
本番環境にデプロイされました。

![fireshot capture 27 - - https___matsuo-y github io_git-practice-breakfast_index html](https://cloud.githubusercontent.com/assets/12555037/24687330/0cdf1620-19f4-11e7-98ad-7fb923bb19ad.png)

![fireshot capture 26 - breakfast history 2017 04_ - https___matsuo-y github io_git-pra](https://cloud.githubusercontent.com/assets/12555037/24687335/12a59ebc-19f4-11e7-8284-2826871aaeec.png)

[2017-04-05 03:35] acn-tsumura commented on #47
@opst-ezaki リリースしましたのでissueのクローズをお願いします。

[2017-04-05 04:21] ghost commented on #47
@opst-tsumura 確認しました。クローズします。

[2017-04-05 04:21] #47 closed, assigned to nobody

[2017-04-05 05:51] ghost commented on #51
リリースタグの設定をしました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.5

[2017-04-05 05:52] ghost commented on #51
本番環境へデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26862113/24691609/75e8d154-1a0f-11e7-890f-6c0260cbd462.png)

[2017-04-05 05:52] ghost commented on #51
@opst-tsumura masterへのデプロイを行い、デプロイ結果を掲載しました。
ご確認お願いいたします。

[2017-04-05 05:59] acn-tsumura commented on #51
確認しました。クローズします。

[2017-04-05 05:59] #51 closed, assigned to nobody

[2017-04-05 08:36] opst-oshima commented on #52
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.6

[2017-04-05 08:37] opst-oshima commented on #52
本番環境にデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26425322/24697019/8fc06008-1a26-11e7-8a2e-a1caa6460306.png)

[2017-04-05 08:39] opst-oshima commented on #52
@opst-ezaki デプロイ結果を掲載しました。ご確認お願いします。

[2017-04-05 09:35] ghost commented on #52
確認しました。クローズします。

[2017-04-05 09:35] #52 closed, assigned to opst-oshima

[2017-04-06 05:11] acn-tsumura commented on #50
リリースタグを設定しました。

https://github.com/matsuo-y/git-practice-lunch/releases
↓　（修正）
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.7

[2017-04-06 05:12] acn-tsumura commented on #50
本番環境へのデプロイを確認しましたので、クローズをお願いします。

![issue50_1](https://cloud.githubusercontent.com/assets/12555037/24738784/166ea680-1ad3-11e7-8bfd-f55c91872afb.png)

[2017-04-06 05:14] ghost commented on #50
リリースタグへのリンクは、今回のリリースタグを示しているものを使用したほうがよいかと思います。
今回は
`https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.7`
こちらになるかと思います。

[2017-04-06 05:14] acn-tsumura commented on #50
@opst-ezaki 了解です。

[2017-04-06 05:16] ghost commented on #50
確認しましたのでクローズします。

[2017-04-06 05:16] #50 closed, assigned to nobody

[2017-04-06 05:47] ghost commented on #54
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.8

[2017-04-06 05:47] ghost commented on #54
本番環境へデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26862113/24739652/00d8a4d8-1ad8-11e7-94ee-c6864694c5eb.png)

[2017-04-06 05:48] ghost commented on #54
@opst-tsumura
masterへのデプロイを行い、デプロイ結果を掲載しました。
ご確認お願いいたします。

[2017-04-06 05:56] acn-tsumura commented on #56
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v3.9

[2017-04-06 05:58] acn-tsumura commented on #56
@opst-ezaki 本番環境へのデプロイを確認しましたので、クローズをお願いします。

![issue56_1](https://cloud.githubusercontent.com/assets/12555037/24739919/6a779b6e-1ad9-11e7-850d-6a249f65338f.png)

[2017-04-06 06:02] ghost commented on #56
@opst-tsumura 確認しました。クローズします。

[2017-04-06 06:02] #56 closed, assigned to nobody

[2017-04-06 06:06] acn-tsumura commented on #54
問題ありません、クローズします。

[2017-04-06 06:06] #54 closed, assigned to nobody

[2017-04-06 06:14] gonomk commented on #53
本日大島さんお休みのためクローズします。

[2017-04-06 06:14] #53 closed, assigned to opst-oshima

[2017-04-06 08:04] matsuo-y opened #57 "2017.04.07 江嵜さんlunch"
## 作業内容
4/7の江嵜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-06 08:05] matsuo-y opened #58 "2017.04.07 津村さんlunch"
## 作業内容
4/7の津村さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://staging

[2017-04-07 02:31] matsuo-y opened #59 "2017.04.07 マージテスト用の昼食"

[2017-04-07 04:52] acn-tsumura commented on #58
リリースタグを作成しました。

https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.0

[2017-04-07 04:53] acn-tsumura commented on #58
@opst-ezaki 本番環境へのデプロイを確認しましたので、クローズをお願いします。

![issue58_1](https://cloud.githubusercontent.com/assets/12555037/24786074/a13c756e-1b99-11e7-957e-f8ff06fb7114.png)

[2017-04-07 04:57] ghost commented on #58
確認しました。クローズします。

[2017-04-07 04:57] #58 closed, assigned to nobody

[2017-04-07 05:05] ghost commented on #57
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.1

[2017-04-07 05:06] ghost commented on #57
本番環境へデプロイされました。
![image](https://cloud.githubusercontent.com/assets/26862113/24786294/51fcc6b4-1b9b-11e7-9a76-210e59ac8e26.png)

[2017-04-07 05:06] ghost commented on #57
@opst-tsumura リリース完了しました。確認お願いいたします。

[2017-04-07 05:07] acn-tsumura commented on #57
@opst-ezaki 確認しました。クローズします。

[2017-04-07 05:07] #57 closed, assigned to nobody

[2017-04-10 02:30] #59 closed, assigned to nobody

[2017-04-10 05:16] acn-tsumura commented on #55
@opst-ezaki @opst-oshima
作業の判定基準の記述より、明日の朝食までマージしてからステージングへのPRとなります。
ですので、本日の作業はここまでとなります。（PR出してもいいですが、紛らわしいので明日にします）

[2017-04-10 07:36] gonomk opened #60 "2017.04.10 江嵜さんlunch"
## 作業内容
4/10の江嵜さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://stagin

[2017-04-10 07:38] gonomk opened #61 "2017.04.10 津村さんlunch"
## 作業内容
4/10の津村さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://stagin

[2017-04-10 07:39] gonomk opened #62 "2017.04.10 大島さんlunch"
## 作業内容
4/10の大島さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-lunchリポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunch-pr-{N}.herokuapp.com/
ステージング環境 | https://stagin

[2017-04-10 07:54] acn-tsumura commented on #61
下記PRにてConfilct発生。解消します。
https://github.com/matsuo-y/git-practice-lunch/pull/104

作業記録
１．#61-tsumura-lunchにstagingをマージ

[2017-04-10 07:57] acn-tsumura commented on #61
マージ対象コミット：231dfb2c344baef3875369d282f914f4f66ecbbe
マージ先：#61-tsumura-lunch

[2017-04-10 08:02] ghost commented on #60
タグを設定してリリースを行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.2

[2017-04-10 08:03] ghost commented on #60
デプロイされたことを確認できました。
![image](https://cloud.githubusercontent.com/assets/26862113/24851671/880e3186-1e0f-11e7-8e14-5a77e184a12b.png)

[2017-04-10 08:04] ghost commented on #60
本過程において staging からブランチを切った後、
マージまでに差分が発生しなかったため、
コンフリクトは発生しませんでした。

[2017-04-10 08:05] ghost commented on #60
@opst-tsumura
リリースタグを設定し、デプロイを確認しました。
ご確認お願いいたします。

[2017-04-10 08:09] acn-tsumura commented on #61
２．コンフリクトしたファイルをエディタで修正
３．SourceTree上で「解決済」とマーク
４．コミット：5e5974ee4b1f5bdafc86721d975c93a48bfdad07

[2017-04-10 08:10] acn-tsumura commented on #60
@opst-ezaki 確認しました。クローズします。

[2017-04-10 08:11] #60 closed, assigned to acn-tsumura

[2017-04-10 08:13] acn-tsumura commented on #61
５．PR上のスクリーンショットを修正

[2017-04-10 08:16] acn-tsumura commented on #61
６．PR作成完了として検収担当者に依頼

[2017-04-10 10:02] acn-tsumura commented on #61
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.3

[2017-04-10 10:04] acn-tsumura commented on #61
@opst-oshima デプロイを確認できました。クローズをお願い致します。

![issue61_1](https://cloud.githubusercontent.com/assets/12555037/24856620/58e63c26-1e20-11e7-9ff6-4435ec807a05.png)

[2017-04-11 01:36] opst-oshima commented on #62
下記のPRでコンフリクトが発生。
https://github.com/matsuo-y/git-practice-lunch/pull/110

１.#62-oshima-lunchにstagingをマージ

マージ対象コミット：139a8de50fc9d61d83fc051719b4e397a3a0aea5
マージ先：#62-oshima-lunch

2.コンフリクトしたファイルをエディタで修正

3.コミット: 2fa95370d5244cf165e3ca68be889f93826a9986

[2017-04-11 02:15] opst-oshima commented on #62
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.4

[2017-04-11 02:16] opst-oshima commented on #61
確認しました。issueをcloseします。

[2017-04-11 02:16] #61 closed, assigned to opst-oshima

[2017-04-11 02:17] opst-oshima commented on #62
@opst-ezaki 本番環境にデプロイされました。ご確認お願いします。
![image](https://cloud.githubusercontent.com/assets/26425322/24889987/2c4bad58-1ea8-11e7-825b-844d4bf4d8d6.png)

[2017-04-11 02:18] ghost commented on #62
@opst-oshima
確認できました。クローズします。

[2017-04-11 02:18] #62 closed, assigned to opst-oshima

[2017-04-11 07:21] opst-oshima commented on #55
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.4

[2017-04-11 07:22] opst-oshima commented on #55
@opst-ezaki 本番環境にデプロイされました。issueのcloseをお願いします。
![image](https://cloud.githubusercontent.com/assets/26425322/24897225/0e05b9b2-1ed3-11e7-9128-61b31faca543.png)

[2017-04-11 07:24] ghost commented on #55
確認しました。
クローズします。

[2017-04-11 07:24] #55 closed, assigned to acn-tsumura, opst-oshima

[2017-04-12 00:30] opsttan opened #63 "2017.4.12-2017.4.13 breakfast"
## 作業内容
4/12、4/13のの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、matsuo-y/git-practice-breakfastリポジトリで行う
※matsuo-y/git-practice-breakfastリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-breakfastで作業を行い、origin/stagingにPRしてマージする
また、開発担当者はorigin/git-practice/#{N}-{name}-breakfast-{mmdd}というブランチを作成して作業を実施する
コミットメッセージは、誰の朝食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の朝食かがわかる文言にする

## 開発時に使用する環境
環境 |

[2017-04-13 02:57] acn-tsumura commented on #63
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.5

[2017-04-13 02:58] acn-tsumura commented on #63
@opst-ezaki デプロイを確認しました。クローズをお願いします。

![issue63_1](https://cloud.githubusercontent.com/assets/12555037/24988378/896320ae-2040-11e7-8b3e-bcf531192ff1.png)

[2017-04-13 02:59] ghost commented on #63
デプロイを確認できました。クローズします。

[2017-04-13 02:59] #63 closed, assigned to acn-tsumura, opst-oshima

[2017-04-27 02:44] ghost opened #64 "2017.04.28 彌永さんlunch"
## 作業内容
4/28の彌永さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lun

[2017-04-28 05:40] iyanagaopst commented on #64
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.5

[2017-04-28 05:41] iyanagaopst commented on #64
![honban](https://cloud.githubusercontent.com/assets/27798777/25515619/c808bf6c-2c20-11e7-852d-d06bc9fcf957.jpg)

[2017-04-28 05:43] iyanagaopst commented on #64
@opst-ezaki
issueのcloseをお願い致します。

[2017-04-28 05:43] ghost commented on #64
確認いたしました。クローズいたします。

[2017-04-28 05:43] #64 closed, assigned to iyanagaopst

[2017-04-28 06:10] ghost opened #65 "2017.05.01-2017.05.02 breakfast"
## 作業内容
5/1、5/2のの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う
※matsuo-y/git-practice-breakfastリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/git-practice/#{N}-breakfastで作業を行い、origin/stagingにPRしてマージする
また、開発担当者はorigin/git-practice/#{N}-{name}-breakfast-{mmdd}というブランチを作成して作業を実施する
コミットメッセージは、誰の朝食か（どんな修正か）が

[2017-04-28 06:12] ghost opened #66 "2017.05.01 彌永さんlunch"
## 作業内容
5/1の彌永さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunc

[2017-04-28 06:12] ghost opened #67 "2017.05.02 彌永さんlunch"
## 作業内容
5/2の彌永さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う
※matsuo-y/git-practice-lunchリポジトリにはissueは作成せず、PRは直接このissueにconnectさせること

origin/#{N}-{name}-lunchで作業を行い、origin/stagingにPRしてマージする
コミットメッセージは、誰の昼食か（どんな修正か）がわかる文言にする
PRのタイトルは、誰の昼食かがわかる文言にする

## 開発時に使用する環境
環境 | URL
--- | ---
PR環境 | https://git-practice-lunc

[2017-05-01 08:26] iyanagaopst commented on #66
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.6

[2017-05-01 08:27] iyanagaopst commented on #66
![image](https://cloud.githubusercontent.com/assets/27798777/25575553/73e4c636-2e93-11e7-9896-8a2f020f2223.png)

[2017-05-01 08:28] iyanagaopst commented on #66
@opst-ezaki
issueのcloseをお願い致します。

[2017-05-01 08:30] ghost commented on #66
リリースの確認ができました。
クローズします。

[2017-05-01 08:30] #66 closed, assigned to iyanagaopst

[2017-05-02 01:46] #27 closed, assigned to nobody

[2017-05-02 03:32] iyanagaopst commented on #65
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.6

[2017-05-02 03:32] iyanagaopst commented on #65
![image](https://cloud.githubusercontent.com/assets/27798777/25603026/6d0788da-2f33-11e7-9104-8f0c49456621.png)

[2017-05-02 03:33] iyanagaopst commented on #65
@opst-ezaki
issueのcloseをお願い致します。

[2017-05-02 03:34] ghost commented on #65
@iyanagaopst
確認いたしました。
close いたします。

[2017-05-02 03:34] #65 closed, assigned to gonomk, opst-nemoto, iyanagaopst

[2017-05-02 03:56] ghost commented on #67
pushしてしまったブランチの直前のコミットメッセージを修正する練習をしておいてください

0. git checkout {branch-A}
1. git commit {message-A}
2. git push origin {branch-A}
3. create pull request
4. comment commit id on pull request
5. git commit --amend  {message-B}
6. git push -f origin {branch-A}
7. comment commit id on pull request

[2017-05-02 04:00] iyanagaopst commented on #67
@opst-fujimoto
了解しました。練習します。

[2017-05-02 05:40] iyanagaopst commented on #67
@opst-ezaki
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.7

[2017-05-02 05:41] iyanagaopst commented on #67
![image](https://cloud.githubusercontent.com/assets/27798777/25605367/5b430022-2f45-11e7-9b72-f242b85b7734.png)

[2017-05-02 05:42] iyanagaopst commented on #67
@opst-ezaki
issueのcloseをお願い致します。

[2017-05-02 05:43] ghost commented on #67
@iyanagaopst
確認いたしました。
クローズいたします。

[2017-05-02 05:43] #67 closed, assigned to iyanagaopst

[2017-06-05 07:10] ghost opened #68 "2017.06.05 遠藤さんlunch"
## 作業内容
06/05の遠藤さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2017-06-05 07:10] ghost opened #69 "2017.06.06 遠藤さんlunch"
## 作業内容
06/06の遠藤さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2017-06-05 07:10] ghost opened #70 "2017.06.06-2017.06.07 breakfast"
## 作業内容
06/06、06/07のの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

※
- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

### 作業フロー

1. branch 作成者は `origin/master` ブランチから `origin/git-practice/#{N}-breakfast` ブランチを作成

[2017-06-05 07:17] ghost opened #71 "2017.06.07 遠藤さんlunch"
## 作業内容
06/07の遠藤さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2017-06-05 10:23] opstendo commented on #68
リリースタグの設定を行いました。

https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.8

[2017-06-05 10:25] opstendo commented on #68
本番環境へデプロイされたことを確認いたしました。

![image](https://cloud.githubusercontent.com/assets/29187912/26780412/b45a93ba-4a24-11e7-9ce8-c51d8a0eeabd.png)

[2017-06-05 10:26] ghost commented on #68
確認いたしました。クローズいたします。

[2017-06-05 10:26] #68 closed, assigned to opstendo

[2017-06-06 08:41] opstendo commented on #69
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v4.9

[2017-06-06 08:43] opstendo commented on #69
本番環境へデプロイされたことを確認いたしました。

![image](https://cloud.githubusercontent.com/assets/29187912/26820952/a916ad2a-4adf-11e7-9047-2852ea2d7092.png)

[2017-06-06 08:48] ghost commented on #69
確認いたしました。
クローズいたします。

[2017-06-06 08:48] #69 closed, assigned to opstendo

[2017-06-07 05:51] opstendo commented on #71
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.0

[2017-06-07 05:52] opstendo commented on #71
本番環境へデプロイされたことを確認いたしました。

![image](https://user-images.githubusercontent.com/29187912/26864048-f5ca6254-4b90-11e7-9643-df8797f9d01b.png)

[2017-06-07 05:56] ghost commented on #71
確認いたしました。クローズします。

[2017-06-07 05:56] #71 closed, assigned to opstendo

[2017-06-07 08:42] opstendo commented on #70
リリースタグの設定を行いました

https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.7

[2017-06-07 08:45] opstendo commented on #70
本番環境へデプロイされたことを確認いたしました。

![image](https://user-images.githubusercontent.com/29187912/26869870-fca7e822-4ba8-11e7-8197-af84e04d94c7.png)

![image](https://user-images.githubusercontent.com/29187912/26869882-0814aa38-4ba9-11e7-9050-87492dc69fc6.png)

[2017-06-07 08:49] ghost commented on #70
リリースを確認致しました。クローズいたします。

[2017-06-07 08:49] #70 closed, assigned to nobody

[2017-07-20 09:09] ghost opened #72 "dolphin テスト用"

[2017-09-07 10:50] ghost opened #73 "いるかが美味しいごはんをつくってくれるためのissue"
どんな美味しいごはんを作ってくれるのか

[2017-09-08 01:36] ghost commented on #73
アサインを追加して、2名になっても、いるかが反応した

[2017-09-08 01:37] ghost commented on #73
アサインを解除して、いるかが正しく反応した

[2018-04-02 07:37] gonomk opened #74 "2018.04.02 山崎さんlunch"
## 作業内容
04/02の山崎さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-03 04:04] yamazakiopst commented on #74
リリースタグの設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.1

[2018-04-03 04:51] yamazakiopst commented on #74
本番環境へデプロイされたことを確認いたしました。
![default](https://user-images.githubusercontent.com/37561977/38229248-da289784-3742-11e8-916c-c12a4bd35443.png)

[2018-04-03 04:57] gonomk commented on #74
確認いたしました。クローズいたします。

[2018-04-03 04:57] #74 closed, assigned to gonomk

[2018-04-03 05:05] gonomk opened #75 "2018.04.03 山崎さんlunch"
## 作業内容
04/03の山崎さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-03 06:24] yamazakiopst commented on #75
タグの設定を行いました
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.2

[2018-04-03 06:26] yamazakiopst commented on #75
masterへのデプロイ結果を確認しました。
![master](https://user-images.githubusercontent.com/37561977/38232806-57f1bc44-3753-11e8-843f-1167139a46d0.png)

[2018-04-03 06:28] gonomk commented on #75
@yamazakiopst
タグのURLを記載してください。
https://github.com/matsuo-y/git-practice/issues/75#issuecomment-378141494

[2018-04-03 07:00] gonomk commented on #75
@yamazakiopst 確認しましたので、クローズします。

[2018-04-03 07:00] #75 closed, assigned to yamazakiopst

[2018-04-04 00:58] gonomk opened #76 "2018.04.04-2018.04.05 breakfast"
## 作業内容
4/4、4/5の朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

## 作業フロー

1. branch 作成者は origin/master ブランチから origin/git-practice/#{N}-breakfast ブランチを作成する

2. 各開発担当

[2018-04-04 02:23] gonomk opened #77 "YYYY.MM.DD-YYYY.MM.DD breakfast"
## 作業内容
MM/DD、MM/DDの朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

## 作業フロー

1. branch 作成者は origin/master ブランチから origin/git-practice/#{N}-breakfast ブランチを作成する

2. 各

[2018-04-05 06:01] yamazakiopst commented on #76
タグの設定を行いました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.8

[2018-04-05 06:03] yamazakiopst commented on #76
本番環境の確認完了です。
![honnbann](https://user-images.githubusercontent.com/37561977/38349520-71958550-38e2-11e8-9b53-502c99433667.png)

[2018-04-05 06:05] yamazakiopst commented on #76
@opst-nemoto close確認お願いします

[2018-04-05 06:09] opst-nemoto commented on #76
@yamazakiopst リリース完了が確認できたのでクローズします。

[2018-04-05 06:09] #76 closed, assigned to opst-nemoto

[2018-04-10 02:41] yamazakiopst opened #78 "2018.4.10 坂部さんlunch"
## 作業内容
04/10の坂部さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-10 02:43] yamazakiopst opened #79 "2018.4.10 町田さんlunch"
## 作業内容
04/10の町田さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-11 06:39] yamazakiopst opened #80 "2018.04.12-2018.04.17 breakfast"
## 作業内容
4/12-4/17の朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

## 作業フロー

1. branch 作成者はローカルリポジトリの master ブランチをチェックアウトする
リモートリポジトリの master ブランチをプルして、ローカルリポジトリの ma

[2018-04-11 08:38] ebook-sakabe commented on #78
リリース・タグの設定を行いました
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.3

[2018-04-11 08:41] ebook-sakabe commented on #78
現状のmasterには町田さんの分も入っているので、キャプチャには坂部＋町田さんのものが入っています
![18-0411_](https://user-images.githubusercontent.com/38233210/38605803-53bea6fc-3daf-11e8-8ee7-6f168a537c4b.JPG)

[2018-04-11 08:41] opst-machida commented on #79
タグ設定を行いました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.4

[2018-04-11 08:42] ebook-sakabe commented on #78
@yamazakiopst リリースタグの設定行いました。ご確認ください。

[2018-04-11 08:48] opst-machida commented on #79
masterへのデプロイ結果を確認しました。
![master](https://user-images.githubusercontent.com/38242513/38606258-8265386c-3db0-11e8-8c8a-5d110d07008e.png)

[2018-04-11 08:48] yamazakiopst commented on #78
@ebook-sakabe
確認しましたのでクローズします

[2018-04-11 08:49] #78 closed, assigned to yamazakiopst

[2018-04-11 08:53] yamazakiopst commented on #79
@opst-machida
アサインが町田さんのままなので山崎に変更お願いします
それ以外はokです

[2018-04-11 08:55] opst-machida commented on #79
アサインを山崎さんに変更しました。

[2018-04-11 08:58] yamazakiopst commented on #79
確認しましたのでクローズします

[2018-04-11 08:58] #79 closed, assigned to yamazakiopst

[2018-04-12 00:39] yamazakiopst opened #81 "2018.4.11 坂部さんlunch"
## 作業内容
04/11の坂部さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-12 00:40] yamazakiopst opened #82 "2018.4.11 町田さんlunch"
## 作業内容
04/11の町田さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-12 01:53] ebook-sakabe commented on #81
@yamazakiopst
リリース・タグ
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.5

変更後の本番キャプチャ
![18-0412_lunch_after_product](https://user-images.githubusercontent.com/38233210/38652162-a069f00c-3e3f-11e8-85a7-5f4fa887d24a.PNG)

以上、ご確認ください。

[2018-04-12 02:03] yamazakiopst commented on #81
@ebook-sakabe アサインを「山崎」に変更お願いします

[2018-04-12 02:12] ebook-sakabe commented on #81
@yamazakiopst 失礼しました。修正しました。

[2018-04-12 02:20] yamazakiopst commented on #81
確認しましたのでクローズします

[2018-04-12 02:20] #81 closed, assigned to yamazakiopst

[2018-04-12 03:21] ebook-sakabe commented on #80
@yamazakiopst PRマージしました。

[2018-04-12 06:34] opst-machida commented on #82
タグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.6

[2018-04-12 06:38] opst-machida commented on #82
masterへのデプロイ結果を確認しました。
![102n](https://user-images.githubusercontent.com/38242513/38661524-21880e5e-3e6c-11e8-9766-fe004d4dc06f.png)

[2018-04-12 06:43] yamazakiopst commented on #82
@opst-machida
添付画像のurlがPR環境になってますので、再度確認お願いします

[2018-04-12 07:11] opst-machida commented on #82
@yamazakiopst
すみません、画像差し替えました。

[2018-04-12 07:16] yamazakiopst commented on #82
確認しましたのでマージします

[2018-04-12 07:17] #82 closed, assigned to yamazakiopst

[2018-04-17 01:08] ebook-gono commented on #80
![image](https://user-images.githubusercontent.com/35320452/38842852-45f6dd9c-4227-11e8-8110-cc8cdd267e05.png)

[2018-04-17 02:09] yamazakiopst opened #83 "2018.4.17 町田さんlunch"
## 作業内容
04/17の町田さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-17 06:45] opst-machida commented on #83
タグを設定しました。
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.7

[2018-04-17 06:46] opst-machida commented on #83
masterへのデプロイを確認しました。
![image](https://user-images.githubusercontent.com/38242513/38852892-7ad5b5d6-4256-11e8-8155-5100d55de9f4.png)

[2018-04-17 06:47] opst-machida commented on #83
@yamazakiopst 昼食の検収をお願いいたします。

[2018-04-17 06:55] yamazakiopst commented on #83
確認しましたのでcloseします

[2018-04-17 06:56] #83 closed, assigned to yamazakiopst

[2018-04-19 00:32] yamazakiopst opened #84 "2018.4.18 町田さんlunch"
## 作業内容
04/18の町田さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-04-19 00:34] yamazakiopst opened #85 "2018.04.19-2018.04.20 breakfast"
## 作業内容
4/19-4/20の朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

## 作業フロー

1. branch 作成者はローカルリポジトリの master ブランチをチェックアウトする
リモートリポジトリの master ブランチをプルして、ローカルリポジトリの ma

[2018-04-19 01:36] opst-machida commented on #80
タグ付け
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v1.9

[2018-04-19 01:38] opst-machida commented on #80
リリース結果
![image](https://user-images.githubusercontent.com/38242513/38966539-badede42-43bd-11e8-8958-5453517d08af.png)

[2018-04-19 01:39] opst-machida commented on #80
@yamazakiopst リリースが完了しました。確認をお願いいたします。

[2018-04-19 01:44] yamazakiopst commented on #80
@opst-machida 確認しましたのでクローズします

[2018-04-19 01:44] #80 closed, assigned to yamazakiopst

[2018-04-19 02:53] opst-machida commented on #84
タグ付け
https://github.com/matsuo-y/git-practice-lunch/releases/tag/v5.8

[2018-04-19 02:53] opst-machida commented on #84
表示確認
![image](https://user-images.githubusercontent.com/38242513/38968869-5080f1d8-43c8-11e8-9164-4380d72c1f37.png)

[2018-04-19 02:55] opst-machida commented on #84
@yamazakiopst タグ付け、表示確認終了しました。レビューをお願いいたします。

[2018-04-19 03:24] yamazakiopst commented on #84
@opst-machida 確認しましたのでクローズします

[2018-04-19 03:24] #84 closed, assigned to yamazakiopst

[2018-04-20 04:40] yamazakiopst opened #86 "2018.4.20 佐々木さんlunch"
## 作業内容
04/20の佐々木さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice

[2018-04-20 08:10] opst-machida commented on #85
リリースタグ
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v2.0

[2018-04-20 08:11] opst-machida commented on #85
結果確認
![image](https://user-images.githubusercontent.com/38242513/39038199-d9db58f6-44bd-11e8-836d-e004d20e71da.png)

[2018-04-20 08:12] opst-machida commented on #85
@yamazakiopst リリースいたしました。検収をお願いいたします

[2018-04-20 08:22] yamazakiopst commented on #85
@opst-machida タグとデプロイの確認ができましたのでクローズします

[2018-04-20 08:22] #85 closed, assigned to yamazakiopst

[2018-05-09 09:14] opst-machida opened #87 "2018.05.09-2018.05.10 breakfast"
## 作業内容
05/09-05/10の朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

## 作業フロー

1. branch 作成者はローカルリポジトリの master ブランチをチェックアウトする
リモートリポジトリの master ブランチをプルして、ローカルリポジトリの

[2018-05-10 09:33] opst-machida opened #88 "2018.05.11-2018.05.12 breakfast"
## 作業内容
05.11-05.12の朝ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-breakfast](https://github.com/matsuo-y/git-practice-breakfast)リポジトリで行う

- matsuo-y/git-practice-breakfastリポジトリにはissueを作成しない
- matsuo-y/git-practice-breakfastリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

## 作業フロー

1. branch 作成者はローカルリポジトリの master ブランチをチェックアウトする
リモートリポジトリの master ブランチをプルして、ローカルリポジトリの

[2018-05-10 10:57] opst-shinozaki commented on #87
リリースタグ設定しました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v2.1

[2018-05-10 10:59] opst-shinozaki commented on #87
masterに反映されていることを確認しました。
![image](https://user-images.githubusercontent.com/38833106/39866681-93bad1ec-548c-11e8-940a-a3ef8082074f.png)

[2018-05-10 10:59] opst-shinozaki commented on #87
![image](https://user-images.githubusercontent.com/38833106/39866706-ad621e16-548c-11e8-86f8-db0ca9b8df68.png)

[2018-05-10 11:04] #87 closed, assigned to opst-machida, opst-shinozaki

[2018-05-11 06:27] ghost commented on #88
リリースタグを設定しました。
https://github.com/matsuo-y/git-practice-breakfast/releases/tag/v2.2

[2018-05-11 06:28] ghost commented on #88
masterに反映されていることを確認しました。
![image](https://user-images.githubusercontent.com/38945472/39909936-eb174a58-552f-11e8-95f7-099c7a25b92c.png)

[2018-05-11 06:29] ghost commented on #88
@opst-machida  issueのクローズ確認お願いします。

[2018-05-11 06:31] opst-machida commented on #88
@opst-shinozaki @opst-horio 朝食完了しました。

[2018-05-11 06:31] #88 closed, assigned to opst-machida, opst-shinozaki

[2018-06-22 05:32] opst-shinozaki opened #89 "2018.06.25-2018.06.25 大内さんlunch"
## 作業内容
06/25の大内さんの昼ごはんを以下のサイトで公開できる

branch作成以降の実際の開発タスクについては、[matsuo-y/git-practice-lunch](https://github.com/matsuo-y/git-practice-lunch)リポジトリで行う

※
- matsuo-y/git-practice-lunchリポジトリにはissueを作成しない
- matsuo-y/git-practice-lunchリポジトリ内に作成したPRは、matsuo-y/git-practiceリポジトリのissueにconnectさせる

`git-practice/#{N}-{name}-lunch` ブランチで作業を行い、`origin/master` ブランチへPRしてマージする

コミットメッセージは、 `matsuo-y/git-practice#

[2018-06-22 05:46] #89 closed, assigned to nobody